<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePAGE</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="/Create" >Create User </a>
    </div>
    <div class="table-container">
    
    <table class="table-content">
      <div class="title">
        ListUser
      </div>
    
        <tr>
          <th>Id</th>
          <th>Email</th>
          <th>Name</th>
          <th>City</th>
          <th>Action</th>
        </tr>
        <!-- <% for (let i = 0; i < listUser.length ; i++) { %> 
        <tr>
          <td> <%= listUser[i].id %> </td>
          <td><%= listUser[i].email %></td>
          <td>$<%= listUser[i].name %></td>
          <td><%= listUser[i].city %></th>
        </tr>
        <% } %> -->

        <% listUser.forEach(function(user) { %> 
          <tr>
          <td> <%= user.id %> </td>
          <td><%= user.email %></td>
          <td><%= user.name %></td>
          <td><%= user.city %></th>
            <td class="btn-action"> 
              <button class="btn-delete"><a href="/deleteUser/<%= user.id %>">Delete</a></button>
             <button class="btn-edit" ><a href="/Edituser/<%= user.id %>">Edit</a></button> 
            </td>
           
          </tr>
          <% }); %>
      </table>
    </div>
</body>
</html>